<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web Scraping Challenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbtron text-center">
            <h1>Mission to Mars</h1>
            <p><a>class+"btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data </a></p>
            <h2>Latest Mars News</h2>
        </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h2>Featured Mars Image</h2>
                </div>
                div class="col-6 col-md-4">Current Weather on Mars</div>
        
        </div>
        </div>

</body>
</html>